// fonts
.fp {font-family: 'PT Sans',sans-serif;} // font primary
.fh {font-family: 'Signika',sans-serif;} // font header
.fi {font-family: 'icons',sans-serif;} // font icon

// body
@bb: #fff; // body background

// colors
@c1: #707070;
@c2: #2596d4;
@c3: #004d70;
@c4: #f9b81b;
@c5: #5cc5ff;
@c6: #632f2b;
@cp: @c1; // color primary
@cl: @c2; // color link

// font sizes
@fsp: 16px; // font size primary

// line heights
@lhh: 1.2; // line height header
@lhp: 1.5; // line height primary

// form
@input-size: 16px;
@input-height: 42px;
@input-padding: 15px;
@input-border: #ccc;
@input-bg: #fff;

// layout
@content-width: 1160px;
@content-width-md: 960px;
@content-width-sm: 740px;
@content-width-xs: 100%;
@content-padding: 20px;

// media query >>> @media @xs, @sm
@lg: ~"(min-width: 1200px)";
@md: ~"(min-width: 992px) and (max-width: 1199px)";
@sm: ~"(min-width: 768px) and (max-width: 991px)";
@xs: ~"(max-width: 767px)";
@xxs: ~"(max-width: 479px)";