.title_dec {
	.fh;
	display: inline-block;
	padding: 0 25px;
	font-size: 21px;
	line-height: 1.2;
	margin: 15px 0;
	color: @c3;
	position: relative;
	text-transform: uppercase;
	font-weight: bold;
	&:before, &:after{ 
		.fi;
		content: '\e817';
		position: absolute;
		top: 50%;
		left: -20px;
		margin: -29px 0 0;
		font-size: 58px;
		line-height: 1;
		color: @c4;
		font-weight: normal;
	}
	&:after{
		left: auto;
		right: -20px;
		content: '\e818';
	}
}
#page-top {
	margin: 10px 0;
}
#page-header {
	.logo {
		float: left;
		width: 17%;
		padding: 27px 36px 16px;
		@media @md {
			padding: 30px 20px 15px;
		}
		@media @sm, @xs {
			width: 120px;
			float: none;
			padding: 0;
			margin: 0 auto 30px;
		}
		a {
			img {
				display: block;
			}
		}
	}
	.toggle_menu {
		.fh;
		display: none;
		width: 100%;
		text-transform: uppercase;
		font-size: 21px;
		margin: 0 0 30px;
		&:before{
			.fi;
			content: '\e81f';
			margin: 0 10px 0 0;
		}
		@media @sm, @xs {
			display: block;
		}
	}
}
#col-main {
	float: left;
	width: 64%;
	margin: 0 0 60px;
	@media @sm, @xs {
		width: auto;
		float: none;
	}
}
#col-right {
	float: right;
	width: 32%;
	margin: 0 0 60px;
	@media @sm, @xs {
		width: auto;
		float: none;
	}
}
#page-footer {
	.box-shadow(inset 0 2px 8px fade(#000,50));
	margin: 70px 0 0;
	padding: 54px 0 20px;
	background: @c3;
}
.bg-blue {
	background: @c2;
}
.mod_banners {
	#page-top & {
		text-align: center;
	}
	#col-right & {
		text-align: left;
		margin: 0 0 30px;
	}
	.inner {
		display: inline-block;
		margin: 0 auto;
		text-align: left;
	}
	.mod-title {
		font-size: 12px;
		line-height: 1.2;
		margin: 0 0 6px;
	}
	ul {
		.rul;
		margin: 0 -17px;
		li {
			.rli;
			display: inline-block;
			vertical-align: top;
			margin: 0 -2px 10px;
			padding: 0 19px 10px;
			#col-bottom & {
				@media @md, @sm {
					width: 25%;
				}
				@media @xs {
					width: 50%;
				}
				@media @xxs {
					width: 100%;
				}
			}
			a {
				img {
					display: block;
				}
			}
		}
	}
}
.mod_menu-media {
	float: right;
	margin: 7px 0 42px;
	@media @sm, @xs {
		float: none;
		text-align: center;
		display: none;
		.toggle_menu-on & {
			display: block;
		}
	}
	#page-footer & {
		width: 24%;
		@media @md {
			width: 33.3333%;
		}
		@media @sm, @xs {
			width: auto;
			float: none;
			display: block;
		}
	}
	ul {
		.rul;
		li {
			.rli;
			display: inline-block;
			margin: 0 0 0 -1px;
			#page-footer & {
				margin: 0 10px 0 0;
			}
			a {
				.transition(0.2s);
				display: inline-block;
				text-decoration: none;
				color: @c3;
				font-size: 0;
				line-height: 1;
				&:hover{
					color: @c2;
				}
				#page-footer & {
					color: @c4;
					&:hover{
						color: #fff;
					}
				}
				&:before{
					font-size: 26px;
					margin: 0;
					#page-footer & {
						font-size: 38px;
					}
				}
			}
		}
	}
}
.mod_menu-main {
	float: right;
	width: 80.7%;
	margin: 0 0 30px;
	@media @sm, @xs {
		width: auto;
		float: none;
		display: none;
		.toggle_menu-on & {
			display: block;
		}
	}
	ul {
		.rul;
		@media @sm, @xs {
			text-align: center;
		}
		li {
			.rli;
			float: left;
			width: 20%;
			padding: 0 10px 0 0;
			@media @sm, @xs {
				width: 33.3333%;
				float: none;
				display: inline-block;
				vertical-align: top;
				margin: 0 0 30px;
			}
			@media @xs {
				display: block;
				width: 100%;
			}
			&.act {
				a {
					&:before{
						background: @c2;
					}
					mark {
						&:before{
							background: @c2;
						}
					}
				}
			}
			a {
				position: relative;
				display: block;
				padding: 0 0 0 75px;
				color: @c3;
				text-decoration: none;
				text-transform: uppercase;
				font-size: 15px;
				line-height: 1.2;
				text-align: left;
				@media @md, @xs {
					font-size: 14px;
					padding-left: 50px;
				}
				&:hover{
					&:before{
						background: @c2;
					}
					mark {
						&:before{
							right: 20%;
							background: @c2;
						}
					}
				}
				&:before{
					.border-radius(50%);
					.transition(0.2s);
					position: absolute;
					z-index: 1;
					top: -8px;
					left: 0;
					width: 58px;
					height: 58px;
					line-height: 58px;
					font-size: 30px;
					text-align: center;
					color: #fff;
					background: @c4;
					@media @md, @xs {
						width: 40px;
						height: 40px;
						line-height: 40px;
						font-size: 20px;
						top: -2px;
					}
				}
				mark {
					position: relative;
					display: block;
					font-weight: bold;
					color: @c3;
					padding: 0 0 4px;
					margin: 0 0 3px;
					&:before{
						.transition(0.2s);
						content: '';
						position: absolute;
						bottom: 0;
						left: -20px;
						right: 0;
						height: 2px;
						background: @c4;
					}
				}
			}
		}
	}
}
.mod_menu-top {
	.box-shadow(inset 2px 0 4px fade(#000,0.5));
	padding: 17px 0;
	margin: 0 0 53px;
	background: @c2;
	@media @sm, @xs {
		display: none;
		.toggle_menu-on & {
			display: block;
		}
	}
	ul {
		.rul;
		display: table;
		width: 100%;
		@media @sm, @xs {
			display: block;
			text-align: center;
		}
		li {
			.rli;
			display: table-cell;
			vertical-align: middle;
			text-align: center;
			border-left: 1px solid fade(#fff,35);
			@media @sm, @xs {
				display: inline-block;
				vertical-align: top;
				margin: 0 0 10px;
			}
			&:first-child {
				border-left: none;
			}
			a {
				display: block;
				padding: 5px 15px;
				text-decoration: none;
				text-transform: uppercase;
				color: #fff;
				font-size: 15px;
				line-height: 1.3;
				font-weight: bold;
				&:hover{
					text-decoration: underline;
				}
				@media @md {
					font-size: 13px;
					padding: 5px;
				}
			}
		}
	}
}
.mod_newsflash_xart {
	.tabs {
		.rul;
		.clearfix;
		margin: 0 0 50px;
		border-bottom: 1px solid #d4d4d4;
		li {
			.rli;
			float: left;
			top: 1px;
			@media @xs {
				float: none;
			}
			&.cycle-pager-active {
				a {
					color: @c2;
					border-bottom-color: #fff;
					@media @xs {
						border: 0;
						color: #fff;
						background: @c2;
					}
				}
			}
			&:last-child {
				a {
					.border-radius(0 4px 0 0);
					@media @xs {
						.border-radius(0);
					}
				}
			}
			a {
				display: block;
				line-height: 1;
				padding: 20px 41px 17px;
				text-decoration: none;
				text-transform: uppercase;
				border: 1px solid #d4d4d4;
				border-left: none;
				color: @c1;
				&:hover{
					color: @c2;
				}
			}
		}
	}
	.panes {
		.pane {
			position: static!important;
			display: block!important;
			visibility: visible!important;
			-webkit-opacity: 1!important;
			-moz-opacity: 1!important;
			opacity: 1!important;
			filter:alpha(opacity=100)!important;
			&.cycle-slide {
				display: none!important;
			}
			&.cycle-slide-active {
				display: block!important;
			}
		}
	}
	.items {
		.item {
			.clearfix;
			line-height: 1.6;
			margin: 0 0 20px;
			a {
				color: @c1;
				text-decoration: none;
			}
			figure {
				float: left;
				width: 26.5%;
				margin: 7px 30px 10px 0;
				@media @xxs {
					width: 100%;
					margin: 0 0 20px;
				}
				img {
					.transition(0.2s);
					display: block;
					&:hover{
						.box-shadow(0 0 20px fade(#000,30));
					}
				}
			}
			h2 {
				font-size: 19px;
				line-height: 1.4;
				color: @c2;
				font-weight: bold;
				&:hover{
					color: @c3;
					text-decoration: underline;
				}
			}
		}
	}
}
.mod_custom-calendar {
	margin: 0 0 70px;
	.mod-title {
		.title_dec;
		margin: 17px 0 40px;
	}
	.items {
		margin: 0 0 30px;
		.item {
			position: relative;
			padding: 0 0 0 60px;
			margin: 0 0 28px;
			font-size: 15px;
			line-height: 1.2;
			a {
				color: @c1;
				text-decoration: none;
			}
			.date {
				position: absolute;
				top: 2px;
				left: 0;
				color: @c3;
				font-size: 15px;
				line-height: 1;
				mark {
					display: block;
					color: @c2;
					font-size: 19px;
					margin: 3px 0;
				}
			}
			h2 {
				.fp;
				text-transform: uppercase;
				color: @c3;
				font-size: 15px;
				font-weight: bold;
				margin: 0 0 5px;
			}
		}
	}
	nav {
		a {
			.transition(0.2s);
			position: relative;
			display: inline-block;
			padding: 0 0 0 38px;
			font-size: 15px;
			line-height: 1.2;
			text-decoration: none;
			text-transform: uppercase;
			&:hover{
				color: @c3;
			}
			&:before{
				.fi;
				content: '\e80d';
				position: absolute;
				left: 0;
				top: -3px;
				font-size: 22px;
				line-height: 1;
			}
		}
	}
}
.mod_custom-slider {
	position: relative;
	overflow: hidden;
	padding: 77px 0 54px;
	background: @c6;
	.container {
		position: static;
	}
	.about {
		.clearfix;
		position: relative;
		z-index: 1;
		float: left;
		width: 50%;
		padding: 0 10px 0 0;
		color: @c4;
		font-size: 17px;
		text-align: center;
		@media @sm, @xs {
			width: auto;
			float: none;
			padding: 0;
			margin: 0 0 80px;
		}
		h2 {
			.title_dec;
			font-size: 34px;
			color: #fff;
			padding: 0 45px;
			margin: 0 0 40px;
			&:before, &:after {
				color: @c2;
			}
			@media @md {
				font-size: 26px;
			}
		}
		p {
			text-align: left;
			margin: 0 0 30px;
		}
		ul {
			.rul;
			color: #fff;
			text-align: left;
			li {
				.rli;
				padding: 0 0 0 67px;
				margin: 0 0 18px;
				&:last-child {
					width: 60%;
					@media @md, @sm, @xs {
						width: auto;
					}
				}
				&:before{
					.border-radius(50%);
					content: '\e81a';
					top: 3px;
					width: 36px;
					height: 36px;
					line-height: 36px;
					font-size: 24px;
					text-align: center;
					background: @c2;
				}
			}
		}
		nav {
			float: right;
			width: 37.5%;
			margin: -85px 0 0;
			@media @md, @sm, @xs {
				margin: 0;
				width: auto;
			}
			a {
				.border-radius(60px);
				.fh;
				.transition(0.2s);
				display: block;
				color: #fff;
				text-decoration: none;
				font-weight: bold;
				padding: 21px 30px;
				font-size: 16px;
				line-height: 1.2;
				text-align: center;
				text-transform: uppercase;
				background: @c2;
				&:hover{
					background: @c3;
				}
			}
		}
	}
	.items {
		position: static!important;
		float: left;
		width: 50%;
		padding: 0 0 0 10px;
		text-align: center;
		@media @sm, @xs {
			float: none;
			width: auto;
			padding: 0;
		}
		h2 {
			.title_dec;
			z-index: 1;
			color: #fff;
			font-size: 34px;
			padding: 0 45px;
			margin: 0 0 54%;
			@media @md  {
				font-size: 26px;
			}
			@media @sm, @xs {
				margin: 0 0 30px;
			}
		}
		.item {
			position: static!important;
			&.cycle-slide {
				display: none!important;
			}
			&.cycle-slide-active {
				display: block!important;
			}
			* {
				position: relative;
				z-index: 1;
			}
			figure {
				position: absolute;
				z-index: 0;
				top: 0;
				left: 0;
				right: 0;
				bottom: 0;
				background-repeat: no-repeat;
				background-position: center;
				-webkit-background-size: cover;
				-moz-background-size: cover;
				background-size: cover;
				@media @sm, @xs {
					position: static;
					margin: 0 -20px;
				}
				img {
					display: none;
					@media @sm, @xs {
						display: block;
					}
				}
			}
			.title {
				text-transform: uppercase;
				text-align: center;
				color: #fff;
				font-size: 32px;
				padding: 14px 40px 8px;
				margin: 0;
				background: -moz-linear-gradient(left,  rgba(0,0,0,0) 0%, rgba(0,0,0,0.3) 50%, rgba(0,0,0,0) 100%);
				background: -webkit-linear-gradient(left,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.3) 50%,rgba(0,0,0,0) 100%);
				background: linear-gradient(to right,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.3) 50%,rgba(0,0,0,0) 100%);
				@media @md, @sm, @xs {
					font-size: 24px;
				}
				small {
					display: block;
					color: @c4;
					font-size: 16px;
					margin: 4px 0 0;
				}
				.prev, .next {
					.border-radius(50%);
					.transition(0.2s);
					float: left;
					width: 54px;
					height: 54px;
					font-size: 36px;
					line-height: 50px;
					text-align: center;
					margin: 5px 0 0;
					padding: 0 2px 0 0;
					color: #fff;
					border: 1px solid #fff;
					&:hover{
						color: @c2;
						border-color: @c2;
					}
					&:before{
						.fi;
						content: '\e80e';
					}
				}
				.next {
					float: right;
					padding: 0 0 0 2px;
					&:before{
						content: '\e80f';
					}
				}
			}
		}
	}
}
.mod_custom-books {
	margin: 83px 0 88px;
	width: 50%;
	padding: 0 80px 0 0;
	float: left;
	text-align: center;
	@media @md, @sm, @xs {
		width: auto;
		float: none;
		padding: 0;
		margin-left: 10%;
		margin-right: 10%;
	}
	.mod-title {
		.title_dec;
		color: #fff;
		font-size: 34px;
		margin: 0 0 64px;
		padding: 0 40px;
	}
	ul {
		.rul;
		position: relative;
		padding: 0 0 4px 20px;
		margin: 0 0 70px -20px;
		&:before{
			position: absolute;
			z-index: 1;
			content: '';
			bottom: 0;
			left: 0;
			right: 0;
			height: 20px;
			background: #fff;
			border-left: 20px solid @c2;
		}
		&:after{
			position: absolute;
			content: '';
			bottom: -50px;
			left: 35px;
			right: -35px;
			height: 70px;
			background: -moz-linear-gradient(top,  rgba(0,0,0,0.25) 0%, rgba(0,0,0,0) 100%);
			background: -webkit-linear-gradient(top,  rgba(0,0,0,0.25) 0%,rgba(0,0,0,0) 100%);
			background: linear-gradient(to bottom,  rgba(0,0,0,0.25) 0%,rgba(0,0,0,0) 100%);
			-ms-transform: skewX(45deg);
			-webkit-transform: skewX(45deg);
			transform: skewX(45deg);
			@media @xxs {
				display: none;
			}
		}
		li {
			.rli;
			display: inline-block;
			margin: 0 12px;
			&:before{
				top: 10px;
				left: 100%;
				bottom: 0;
				width: 20px;
				background: -moz-linear-gradient(left,  rgba(0,0,0,0.25) 0%, rgba(0,0,0,0) 100%);
				background: -webkit-linear-gradient(left,  rgba(0,0,0,0.25) 0%,rgba(0,0,0,0) 100%);
				background: linear-gradient(to right,  rgba(0,0,0,0.25) 0%,rgba(0,0,0,0) 100%);
				-ms-transform: skewY(45deg);
				-webkit-transform: skewY(45deg);
				transform: skewY(45deg);
			}
			img {
				.transition(0.2s);
				display: block;
				margin: 0 0 10px;
				&:hover{
					.box-shadow(0 0 20px fade(#000,50));
				}
			}
		}
	}
	nav {
		text-align: center;
		a {
			.border-radius(60px);
			.transition(0.2s);
			display: inline-block;
			color: #fff;
			text-decoration: none;
			padding: 20px 30px;
			font-size: 16px;
			line-height: 1.2;
			text-align: center;
			text-transform: uppercase;
			border: 1px solid #fff;
			background: transparent;
			&:before{
				.fi;
				content: '\e80d';
				float: left;
				font-size: 20px;
				line-height: 1;
				margin: -1px 17px -1px 0;
			}
			&:hover{
				color: @c3;
				background: #fff;
			}
		}
	}
}
.mod_custom-products {
	margin: 83px 0 88px;
	width: 50%;
	padding: 0;
	float: left;
	text-align: center;
	@media @md, @sm, @xs {
		width: auto;
		float: none;
		margin-left: 10%;
		margin-right: 10%;
	}
	.mod-title {
		.title_dec;
		color: #fff;
		font-size: 34px;
		margin: 0 0 64px;
		padding: 0 40px;
	}
	ul {
		.rul;
		li {
			.rli;
			display: inline-block;
			vertical-align: top;
			width: 33.3333%;
			margin: 0 -2px 27px;
			padding: 0 10px;
			@media @xxs {
				width: 100%;
			}
			a {
				color: #fff;
				text-decoration: none;
				figure {
					img {
						display: block;
						margin: 0 0 20px;
						border: 15px solid #fff;
						-webkit-box-sizing: border-box;
						-moz-box-sizing: border-box;
						box-sizing: border-box;
					}
				}
				h2 {
					font-size: 16px;
					font-weight: bold;
				}
			}
		}
	}
	nav {
		text-align: center;
		a {
			.border-radius(60px);
			.fh;
			.transition(0.2s);
			display: inline-block;
			color: #fff;
			text-decoration: none;
			font-weight: bold;
			padding: 21px 30px;
			font-size: 16px;
			line-height: 1.2;
			text-align: center;
			text-transform: uppercase;
			background: @c3;
			&:hover{
				color: @c3;
				background: #fff;
			}
		}
	}
}
.mod_custom-testimonilas {
	position: relative;
	overflow: hidden;
	padding: 80px 0 120px;
	margin: 0 0 80px;
	&:before{
		.border-radius(50%);
		content: '';
		position: absolute;
		bottom: 0;
		left: 50%;
		margin: 0 0 0 -7000px;
		width: 14000px;
		height: 14000px;
		background: #f2f2f2;
	}
	.mod-title {
		.title_dec;
		font-size: 36px;
		padding: 0 40px;
		margin: 0 0 50px;
	}
	.container {
		text-align: center;
	}
	.items {
		position: relative;
		text-align: center;
		margin: 0 -20px;
		.item {
			text-align: left;
			width: 33.3333%;
			display: inline-block;
			vertical-align: top;
			margin: 0 -2px;
			padding: 0 20px;
			@media @xs {
				width: 100%;
				margin-bottom: 50px;
			}
			blockquote {
				margin: 0;
				padding: 0;
				text-align: justify;
				line-height: 1.8;
				&:before{
					.fi;
					content: '\e812';
					color: fade(@c2,25);
					float: left;
					font-size: 54px;
					line-height: 1;
					margin: 5px 15px -5px 0;
				}
			}
			.name {
				text-align: right;
				color: @c2;
				font-weight: bold;
				font-size: 21px;
				line-height: 1.2;
				margin: 20px 0 0;
				small {
					display: block;
					color: @c1;
					font-weight: normal;
					font-style: italic;
				}
			}
		}
	}
}
.mod_custom-sponsors {
	text-align: center;
	margin: 0 0 90px;
	.container	{
		text-align: center;
	}
	.mod-title {
		.title_dec;
		margin: 0 0 58px;
		padding: 0 32px;
		&:before, &:after {
			color: @c2;
		}
	}
	.slider {
		position: relative;
		padding: 0 72px;
		.prev, .next {
			.border-radius(50%);
			.transition(0.2s);
			position: absolute;
			left: -20px;
			top: 50%;
			width: 54px;
			height: 54px;
			font-size: 36px;
			line-height: 50px;
			text-align: center;
			margin: -23px 0 0;
			padding: 0 2px 0 0;
			text-decoration: none;
			color: @c1;
			border: 1px solid lighten(@c1,30);
			&:hover{
				color: @c2;
				border-color: @c2;
			}
			&:before{
				.fi;
				content: '\e80e';
			}
		}
		.next {
			left: auto;
			right: -20px;
			padding: 0 0 0 2px;
			&:before{
				content: '\e80f';
			}
		}
	}
	ul {
		.rul;
		text-align: center;
		li {
			.rli;
			display: inline-block;
			vertical-align: middle;
			padding: 20px 32px 20px 0;
			a {
				img {
					display: block;
				}
			}
		}
	}
}
.mod_custom-contact {
	float: left;
	width: 32%;
	padding: 0 6% 0 0;
	color: @c5;
	font-size: 18px;
	line-height: 1.2;
	margin: 0 0 20px;
	@media @md {
		width: 33.3333%;
		padding: 0 20px 0 0;
	}
	@media @sm {
		width: 50%;
		margin: 0 0 50px;
	}
	@media @xs {
		width: 100%;
		padding: 0;
		margin: 0 0 50px;
	}
	.mod-title {
		.fh;
		font-weight: bold;
		font-size: 21px;
		line-height: 1.2;
		color:  #fff;
		margin: 0 0 20px;
		text-transform: uppercase;
	}
	p {
		margin: 0 0 27px;
	}
	.items {
		.item {
			position: relative;
			padding: 0 0 0 68px;
			color:  #fff;
			&:before{
				.fi;
				.border-radius(50%);
				content: '\e814';
				position: absolute;
				left: 0;
				top: 3px;
				width: 54px;
				height: 54px;
				line-height: 52px;
				font-size: 26px;
				text-align: center;
				border: 1px solid #fff;
			}
			.name {
				font-weight: bold;
				margin: 0 0 7px;
			}
			.email {
				color: @c4;
				font-size: 17px;
				margin: 0 0 5px;
			}
			.phone {
				color: @c4;
				font-size: 24px;
			}
		}
	}
}
.mod_menu-footer {
	float: left;
	width: 44%;
	padding: 0 20px 0 0;
	color: #fff;
	margin: 0 0 20px;
	@media @md {
		width: 33.3333%;
	}
	@media @sm {
		width: 50%;
		padding: 0;
		margin: 0 0 50px;
	}
	@media @xs {
		width: 100%;
		margin: 0 0 50px;
	}
	.mod-title {
		.fh;
		font-weight: bold;
		font-size: 21px;
		line-height: 1.2;
		color:  #fff;
		margin: 0 0 22px;
		text-transform: uppercase;
	}
	ul {
		.rul;
		li {
			.rli;
			display: inline-block;
			vertical-align: top;
			width: 50%;
			margin: 0 -2px 11px;
			padding: 0 20px 0 0;
			line-height: 1.2;
			text-transform: uppercase;
			@media @md {
				width: 100%;
			}
			@media @xxs {
				width: 100%;
			}
			a {
				color: #fff;
				text-decoration: none;
				&:hover{
					text-decoration: underline;
				}
			}
		}
	}
}
.mod_xnewsletter {
	width: 24%;
	float: left;
	color: @c5;
	font-size: 18px;
	line-height: 1.25;
	margin: 0 0 20px;
	@media @md {
		width: 33.3333%;
	}
	@media @sm, @xs {
		width: auto;
		float: none;
		clear: both;
	}
	.mod-title {
		.fh;
		font-weight: bold;
		font-size: 21px;
		line-height: 1.2;
		color:  #fff;
		margin: 0 0 22px;
		text-transform: uppercase;
	}
	input[type="text"], input[type="email"] {
		.border-radius(8px);
		border-color: transparent;
		float: left;
		margin: 0 -50px 0 0;
	}
	button {
		.border-radius(8px);
		position: relative;
		padding: 0;
		width: 50px;
		font-size: 0;
		color: @c2;
		background: #fff;
		&:hover{
			color: @c3;
		}
		&:before{
			.fi;
			content: '\e815';
			font-size: 30px;
		}
	}
}
.mod_breadcrumbs {
	ul {
		.rul;
		margin: 0 0 30px;
		li {
			.fh;
			display: inline-block;
			margin: 0 10px 0 0;
			color: @c2;
			&:first-child {
				padding-left: 0;
				&:before{
					display: none;
				}
			}
			&:before{
				color: lighten(@c1,20);
			}
			a {
				color: lighten(@c1,20);
			}
		}
	}
}
#gotop{
	a{
		.transition(0.2s);
		.border-radius(50%);
		position: fixed;
		z-index: 99999;
		bottom: -50px;
		right: 20px;
		height: 50px;
		width: 50px;
		text-indent: -9999px;
		line-height: 50px;
		text-align: center;
		background: @cl;
		color: #fff;
		text-decoration: none;
		&:before{
			.fi;
			position: absolute;
			top:0;
			left: 0;
			width: 100%;
			text-indent: 0;
			content: '\e810';
			font-size: 20px;
		}
		&:hover{
			background: darken(@cl,10%);
		}
	}
	&.on{
		a{
			bottom: 20px;
		}
	}
}