
.icon-checkbox:before { content: '\e800'; } /* '' */
.icon-checkbox-checked:before { content: '\e801'; } /* '' */
.icon-radio:before { content: '\e802'; } /* '' */
.icon-radio-checked:before { content: '\e803'; } /* '' */
.icon-info-circled:before { content: '\e804'; } /* '' */
.icon-attention-circled:before { content: '\e805'; } /* '' */
.icon-attention:before { content: '\e806'; } /* '' */
.icon-cancel-circled:before { content: '\e807'; } /* '' */
.icon-book:before { content: '\e809'; } /* '' */
.icon-megaphone:before { content: '\e80a'; } /* '' */
.icon-comment:before { content: '\e80b'; } /* '' */
.icon-pencil:before { content: '\e80c'; } /* '' */
.icon-list-bullet:before { content: '\e80d'; } /* '' */
.icon-angle-left:before { content: '\e80e'; } /* '' */
.icon-angle-right:before { content: '\e80f'; } /* '' */
.icon-angle-up:before { content: '\e810'; } /* '' */
.icon-angle-down:before { content: '\e811'; } /* '' */
.icon-quote-right:before { content: '\e812'; } /* '' */
.icon-quote-left:before { content: '\e813'; } /* '' */
.icon-user:before { content: '\e814'; } /* '' */
.icon-paper-plane:before { content: '\e815'; } /* '' */
.icon-bracket-down:before { content: '\e816'; } /* '' */
.icon-bracket-left:before { content: '\e817'; } /* '' */
.icon-bracket-right:before { content: '\e818'; } /* '' */
.icon-bracket-up:before { content: '\e819'; } /* '' */
.icon-logo:before { content: '\e81a'; } /* '' */
.icon-twitter:before { content: '\e81b'; } /* '' */
.icon-camera:before { content: '\e81c'; } /* '' */
.icon-facebook:before { content: '\e81d'; } /* '' */
.icon-wikipedia:before { content: '\e81e'; } /* '' */
.icon-menu:before { content: '\e81f'; } /* '' */